<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true" processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         backupStaticProperties="false">
  <testsuites>
    <testsuite name="Orchid Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <html outputDirectory="build/coverage"/>
      <text outputFile="build/coverage.txt"/>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="build/report.junit.xml"/>
  </logging>
  <php>
    <env name="APP_NAME" value="ORCHID"/>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
    <env name="APP_DEBUG" value="true"/>
    <env name="APP_URL" value="http://127.0.0.1:8001"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="DASHBOARD_DOMAIN" value="127.0.0.1"/>
    <env name="DASHBOARD_PREFIX" value="/dashboard"/>
    <env name="CACHE_DRIVER" value="file"/>
    <env name="SESSION_DRIVER" value="file"/>
    <env name="SESSION_LIFETIME" value="120"/>
    <env name="SCOUT_DRIVER" value="array"/>
    <env name="SCOUT_QUEUE" value="true"/>
    <env name="QUEUE_DRIVER" value="sync"/>
  </php>
</phpunit>
